DEVELOPMENT=true

SERVER_ADDR=:8082
SERVER_READ_TIMEOUT=15s
SERVER_WRITE_TIMEOUT=15s
SERVER_IDLE_TIMEOUT=60s

OTEL_ENABLED=true
OTEL_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=gateway
OTEL_SERVICE_VERSION=0.1.0